<div style="background-color: #6fa0c4; padding: 10px;">
  <div><strong>shell.component</strong></div>

  <button type="button" [routerLink]="['/']">Home</button>
  <button type="button" [routerLink]="['/shell/acoes']">Ações</button>
  <button type="button" [routerLink]="['/shell/fundos']">Fundos</button>
  <button type="button" [routerLink]="['/shell/investimentos']">Investimentos</button>
  <button type="button" [routerLink]="['/shell/perfil']">Perfil</button>

  <router-outlet></router-outlet>
</div>
